

.tag-topic:hover{
    background-color: rgb(66, 66, 66);
}









































element.style {
}
<style>
.css-zm3qx2 {
    color: rgb(255, 255, 255);
}
.d\:n {
    display: none!important;
}
.m-t\:3 {
    margin-top: 1.44rem!important;
}
.f-z\:1, .f\:1 {
    font-size: 3rem!important;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.t-a\:c {
    text-align: center!important;
}


.tag-topic{
    border: 1px solid rgb(255, 255, 255);
    font-weight: 900;
    padding: 5px;
  
}



@media (max-width: 575px) {
    .btn-back-to-top {
      bottom: 0px;
      right: 15px;
    }
  
    .p-t-200{
      margin: none;
      padding:none;
    }

    .f-z\:\.9, .f\:\.9 {
        font-size: .73333rem!important;
        font-weight: 600;
        
    }

    .resize{
        margin-top: 150px;
    }
  
  }
  


















.cur\:p {
    cursor: pointer!important;
}
.b-r\:9 {
    border-radius: 4.29982rem!important;
}

.d\:b {
    display: block!important;
}
.p-x\:1 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.p-b\:\.7 {
    padding-bottom: 3px!important;
}
.p-t\:\.6 {
    padding-top: .48225rem!important;
}
.m-r\:\.8 {
    margin-right: 2px!important;
}
.m-b\:\.8 {
    margin-bottom: 2px!important;
}
.f-w\:500 {
    font-weight: 500!important;
}
.f-z\:\.9, .f\:\.9 {
    font-size: .93333rem!important;
    font-weight: 600;
    
}
* {



